SNOWFLAKE_ACCOUNT=KFRSGXO-ME10745
SNOWFLAKE_USER=INNOCENT
SNOWFLAKE_PASSWORD=q~aVD!3UMQ4k"n8
SNOWFLAKE_ROLE=ACCOUNTADMIN
SNOWFLAKE_WAREHOUSE=FINANCIAL_RAG_WH
SNOWFLAKE_DATABASE=FINANCIAL_RAG
SNOWFLAKE_SCHEMA=PUBLIC
APP_MODE=snowflake
